@keyframes slideInBackground {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}


.container {
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacing-xl);
    padding: var(--spacing-lg) var(--spacing-3xl);
    overflow: hidden;
    background: transparent;
    transition: background-color 0.3s ease, padding 0.3s ease;


    // Scroll state with background color
    &.scrolled {
        body[data-theme='light'] & {
            background: linear-gradient(to right, var(--color-primary-100) 0%, var(--color-primary-100) 100%);
        }
    
        body[data-theme='dark'] & {
            background: linear-gradient(to right, var(--color-primary-100) 0%, var(--color-primary-100) 100%);
        }
    }
    

    

    @media (max-width: 600px) {
        padding: var(--spacing-lg) var(--spacing-xl);
        gap: 0;
    }

    .ctr {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: var(--spacing-xl);

        @media (max-width: 600px) {
            gap: 0;
        }
    }

    .header {
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 600px) {
            display: none;
        }
    
    }

    .themeSwitcher {
        display: flex;
        gap: var(--spacing-sm);
        align-items: center;
    }

    .navContainer {
        flex-grow: 1;
        display: flex;
        gap: var(--spacing-3xl);
    }

    .authContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
        color: var(--color-secondary-800);

        .authImg {
            width: var(--spacing-2xl);
            border-radius: 50%;
        }
    }

    .search {
        width: fit-content;
        display: flex;
        gap: var(--spacing-2xl);
    }
}
