// 1. Box
@mixin box($width: 100%, $height: $width) {
    width: $width;
    height: $height;
}

// 2. Flex
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;

    flex-direction: column;
}

@mixin flex-center-v {
    display: flex;
    align-items: center;
}

@mixin flex-center-h {
    display: flex;
    justify-content: center;
}

// 3. Font
@mixin font(
    $font-size,
    $font-weight: normal,
    $line-height: normal,
    $letter-spacing: normal
) {
    font-size: $font-size * 1px;
    font-weight: $font-weight;

    // font-size: $font-size * 0.1rem;
    // example using rem values and 62.5% font-size so 1rem = 10px

    @if $line-height == normal {
        line-height: normal;
    } @else {
        line-height: $line-height / $font-size;
    }

    @if $letter-spacing == normal {
        letter-spacing: normal;
    } @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
}

// 4. Background
@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// 5. Pseudo
@mixin pseudo(
    $width: 100%,
    $height: 100%,
    $display: inline-block,
    $pos: absolute,
    $content: ''
) {
    content: $content;
    display: $display;
    position: $pos;

    @include box($width, $height);
}

// 6. Media Queries

// --------------------------------------------------------------- 1. BREAKPOINT VARS & MIXINS
$screen-min-xxs: 360px;
$screen-min-xs: 480px;
$screen-min-sm: 768px;
$screen-min-md: 992px;
$screen-min-lg: 1200px;
$screen-min-xlg: 1366px;
$screen-min-xxlg: 1441px;
$screen-min-xxxlg: 1920px;

@mixin screen-min-mobile {
    // must be 480 = mobile
    @media (min-width: #{$screen-min-xs}) {
        @content;
    }
}

@mixin screen-min-tablet {
    // must be 768 = tablet
    @media (min-width: #{$screen-min-sm}) {
        @content;
    }
}

@mixin screen-min-desktop {
    // must be 992 = small desktop
    @media (min-width: #{$screen-min-md}) {
        @content;
    }
}

@mixin screen-min-desktop-lg {
    // must be 1200 - standard desktop
    @media (min-width: #{$screen-min-lg}) {
        @content;
    }
}

@mixin screen-min-desktop-xlg {
    // must be 1366 - large desktop
    @media (min-width: #{$screen-min-xlg}) {
        @content;
    }
}

@mixin screen-min-desktop-xxlg {
    // must be 1441 = fancy desktop
    @media (min-width: #{$screen-min-xxlg}) {
        @content;
    }
}

$screen-max-xxs: $screen-min-xxs - 1px;
$screen-max-xs: $screen-min-xs - 1px;
$screen-max-sm: $screen-min-sm - 1px;
$screen-max-md: $screen-min-md - 1px;
$screen-max-lg: $screen-min-lg - 1px;

@mixin screen-max-mobile-xs {
    // up to 360 = screens smaller than small mobile
    @media (max-width: #{$screen-max-xxs}) {
        @content;
    }
}

@mixin screen-max-mobile {
    // up to 479 = screens smaller than mobile
    @media (max-width: #{$screen-max-sm}) {
        @content;
    }
}

@mixin screen-max-tablet {
    // up to 767 = screens smaller than tablet
    @media (max-width: #{$screen-max-sm}) {
        @content;
    }
}

@mixin screen-max-desktop {
    // up to 991 = screens smaller than a small desktop
    @media (max-width: #{$screen-max-md}) {
        @content;
    }
}

@mixin screen-max-desktop-lg {
    // up to 1199 = screens smaller than a standard desktop
    @media (max-width: #{$screen-max-md}) {
        @content;
    }
}

// 7. Visibility
@mixin visibility($type) {
    @if $type == 'hide' {
        visibility: hidden;
        opacity: 0;
        transition:
            visibility 1s,
            opacity 1s;
    } @else if $type == 'show' {
        visibility: visible;
        opacity: 1;
        transition:
            visibility 1s,
            opacity 1s;
    }
}

@mixin line-clamp($lines: 3) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
